<mat-toolbar color='primary' fxLayout.sm="column" 
fxLayout.xs="column">
    
    <span>Con Fusion Restaurant</span>
    <img style='padding: 10px 20px 10px 5px;' src="../../assets/images/images/logo.png" height="50px">
    <mat-list role="list" fxLayout="row"  fxLayout.sm="column" 
    fxLayout.xs="column" 
    >
            <mat-list-item   role="listitem">
                    <a class="item" mat-button routerLink='/home'>    <span class="fa fa-home fa-lg"></span>  Home  </a>
                </mat-list-item>

                <mat-list-item role="listitem">
                        <a class="item" mat-button routerLink='/about'>    <span class="fa fa-info fa-lg"></span>  About  </a>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                            <a class="item" mat-button routerLink='/menu'>    <span class="fa fa-list fa-lg"></span>  Menu  </a>
                        </mat-list-item>

                        <mat-list-item role="listitem">
                                <a class="item" mat-button routerLink='/contact'>    <span class="fa fa-address-card fa-lg"></span>  Contact Us  </a>
                            </mat-list-item>
                                                    
          </mat-list>
        
</mat-toolbar>
